/* VARIABLES */

:root {
    --primary-color: rgba(74, 29, 130, 0.9);
    --primary-color-half: rgba(74, 29, 130, 0.7);
    --secondary-color: rgba(239, 133, 18, 0.9);
    --secondary-color-half: rgba(239, 133, 18, 0.5);
    --lighter-bg-color: #eee;
    --nav-half-bg-color: rgba(255, 255, 255, 0.6);
    --font-color: #000;
    --bg-color: #fff;
    --switch-bg-color: rgba(0, 0, 0, 0.15);
    --loader-bg-color: #ffffff;
    --overlay-color: rgba(255, 255, 255, 0.1);
    --scroll-bg-color: #eee;
    --scroll-fg-color: #ccc;
    --moon: block;
    --sun: none;
    --invert: invert(0%);
    --home-texture: url(lib/home-texture.svg);
    --logo-text: url(lib/logo-text.png);
}

[data-theme="dark"] {
    --primary-color: rgba(74, 29, 130, 0.9);
    --primary-color-half: rgba(74, 29, 130, 0.7);
    --secondary-color: rgba(239, 133, 18, 0.9);
    --secondary-color-half: rgba(239, 133, 18, 0.5);
    --lighter-bg-color: rgb(30, 30, 30);
    --nav-half-bg-color: rgba(30, 30, 30, 0.6);
    --font-color: #ffffff;
    --bg-color: #151515;
    --switch-bg-color: rgba(255, 255, 255, 0.15);
    --loader-bg-color: #151515;
    --overlay-color: rgba(0, 0, 0, 0.4);
    --scroll-bg-color: #0f0f0f;
    --scroll-fg-color: #272727;
    --moon: none;
    --sun: block;
    --invert: invert(100%);
    --home-texture: url(lib/home-texture-dark.svg);
    --logo-text: url(lib/logo-text-white.png);
}

/* PREREQUISITES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}

html {
    margin: 0;
    scroll-behavior: smooth !important; 
}

::scrollbar {
    width: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-moz-scrollbar {
    width: 10px;
}

::-o-scrollbar {
    width: 10px;
}

::scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-moz-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-o-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-moz-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-o-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-moz-selection {
    color: #fff;
    background-color: var(--primary-color);
}

::-webkit-selection {
    color: #fff;
    background-color: var(--primary-color);
}

::selection {
    color: #fff;
    background-color: var(--primary-color);
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
    transition: 0.25s;
}

hr {
    width: 85%;
    border-color: var(--lighter-bg-color);
    transition: 0.4s !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    opacity: 0.8;
    transition: 0.25s;
}

a:hover {
    text-decoration: none;
    color: var(--secondary-color);
    opacity: 1;
}

/* LOADER */

.load {
    height: 100%;
    width: 100%;
    background-color: var(--lighter-bg-color);
    padding-top: 17%;
}

.loader-wheel {
    display: block;
    position: relative;
    background-image: url(lib/logo.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    height: 200;
    width: 200;
    animation: scale 1.5s linear infinite;
}

.loader-wheel:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--primary-color);
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    animation: spin 1.5s linear infinite;
}

.loader-wheel::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--secondary-color);
    animation: spin 1s linear infinite;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.mainbod {
    display: none;
}

/* NAVBAR */

.navbar {
    transition: 0.25s;
}

.navbar a {
    transition: 0.25s;
    margin: 10;
    color: var(--font-color) !important;
    opacity: 0.7;
}

.navbar a:hover {
    opacity: 1;
}

.navbar {
    background-color: var(--nav-half-bg-color);
}

.login-nav {
    background-color: transparent;
}

.login-nav i {
    font-size: 40;
    color: var(--secondary-color);
}

.nav-img {
    padding: 0 !important;
    margin: 0 !important;
    float: left !important;
    background-image: url(lib/logo.png);
    background-size: cover;
    transition: 0.4s;
}

.nav-img img {
    width: 13vw;
    filter: var(--invert);
}

/* DARK MODE SWITCH */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    float: right;
    margin: 10px 15px 10px 15px;
    position: fixed;
    bottom: 20;
    right: 20;
    z-index: 999;
}

.theme-switch-wrapper a {
    margin: 10px 15px;
}

.theme-switch {
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
}

.theme-switch input {
    display: none;
}

.slider {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30;
    text-align: center;
    padding-top: 10;
    background-color: var(--switch-bg-color);
    opacity: 0.5;
    transition: 0.25s;
}

.slider:hover {
    opacity: 1;
}

.sun {
    display: var(--sun);
}

.moon {
    display: var(--moon);
}

.slider img {
    height: 30px;
}

.slider.round {
    border-radius: 50%;
}

.theme-switch-wrapper:hover .dark-mode-text::after {
    width: 0 !important;
}

/* HOME */

.home {
    height: 90%;
    color: #fff;
}

.login {
    background-color: var(--bg-color);
    margin-top: 8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    color: var(--font-color);
    transition: 0.25s;
}

.register {
    background-color: var(--bg-color);
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    color: var(--font-color);
    transition: 0.25s;
}

.back-grad {
    height: 100vh;
}

.home .row {
    padding-top: 10%;
}

.home::before {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color)100%);
    background-attachment: fixed;
    content: "";
    height: 90%;
    width: 100%;
    z-index: -1;
    transition: 0.4s;
}

.back-grad::before {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color)100%);
    background-attachment: fixed;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.4s;
    position: fixed;
}

.user-home {
    height: 60%;
}

.user-home .home-logo {
    width: 40%;
}

.user-home .row {
    padding-top: 8%;
}

.user-home .home-text h1 {
    font-size: 100;
}

.subpage-home {
    height: 70%
}

.subpage-home::after, .user-home::after {
    background: none !important;
}

.home::after {
    background-image: var(--home-texture);
    position: absolute;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: bottom;
    transition: 0.4s;
    content: "";
    height: 90%;
    width: 100%;
    bottom: 10%;
}

.home-text {
    padding: 20;
}

.home-text h1 {
    font-size: 130;
    font-family: 'Poiret One', sans-serif;
}

.home-text h5 {
    font-size: 20;
    font-family: 'Poppins', sans-serif;
    padding-left: 10;
}

.home-logo {
    width: 50%;
}

/* SECTIONS */

.section {
    z-index: 1;
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: 0.4s;
    padding: 20 0;
}

.section-hr {
    height: 5px;
    width: 40%;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.section .row {
    padding: 10;
}

h3.section-title {
    font-size: 30;
}

.section-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 50;
    padding: 10 10 10 0;
    color: var(--font-color);
}

.login-form {
    padding: 50;
}

input[type=text], input[type=email], input[type=password], textarea {
    border: transparent solid 2px;
    border-bottom-color: var(--primary-color);
    padding: 10;
    width: 80%;
    transition: 0.25s;
    margin: 10px auto;
    background: none;
    color: var(--font-color);
}

input[type="submit"] {
    border: var(--primary-color) solid 2px;
    color: var(--font-color);
    background: none;
    border-radius: 30px;
    padding: 10 20;
    transition: 0.5s;
    margin: 5px auto;
}

input[type="submit"]:hover{
    background: var(--primary-color);
    color: #fff;
}

input[type="text"]:focus-within, input[type="password"]:focus-within, input[type="email"]:focus-within, textarea:focus-within {
    border: transparent solid 2px;
    border-bottom-color: var(--secondary-color);
    width: 90%;
}

.img-bg-left {
    background-image: url(lib/back.jpg);
    background-position: left;
    background-size: cover;
    min-height: 400;
}

.img-bg-right {
    background-image: url(lib/back.jpg);
    background-position: right;
    background-size: cover;
    min-height: 400;
}

.section-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20;
    padding: 20 10 10 10;
}

.section-button {
    border: var(--primary-color) solid 2px;
    background: none;
    border-radius: 30px;
    padding: 10 20;
    justify-content: center;
    align-content: center;
    transition: 0.5s;
    text-align: center;
    margin: 5px auto;
    color: var(--font-color);
}

.section-button:hover{
    background: var(--primary-color);
    color: #fff;
    text-decoration: none;
}

.about-logo {
    width: 100%;
    padding-top: 15vh;
}

.user-img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid var(--scroll-fg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

.about .row .col-md-8 img {
    width: 100%;
}

.more h5 {    
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--font-color);
    opacity: 0.6;
    transition: 0.4s;
}

.more:hover {
    text-decoration: none;
    color: var(--font-color);
    opacity: 1;
}

.more:hover h5 {
    opacity: 1;
}

.comment_input, .comment {
    background-color: var(--scroll-bg-color);
    padding: 20;
    border-radius: 25px;
    transition: 0.25s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    margin: 20;
}

.comment_input:hover, .comment:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

/* FEATURES */

.icon-container {
    padding: 25 50;
}

.icon {
    font-size: 50;
    padding: 10;
    border: var(--secondary-color) 2px solid;
    border-radius: 50%;
    color: var(--secondary-color);
    width: 100;
    height: 100;
    margin: 10;
    padding: 25px 0;
    transition: all 0.4s ease-out;
}

a:hover .icon {
    background-color: var(--secondary-color);
    color: #fff;
}

.icon-subtitle {    
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    color: var(--font-color);
    transition: 0.4s;
}

/* CONTACT */

.contact {
    padding-bottom: 0;
}

.contact .row {
    padding: 0 !important;
}

.contact .row .col-md-4 {
    padding: 50 10 !important;
}

.contact iframe {
    min-height: 400;
}

/* FOOTER */

.footer {
    padding: 5% 10%;
    text-align: center;
    z-index: 1;
    background-color: var(--lighter-bg-color);
    color: var(--font-color)
}

.footer img {
    transition: 0.4s;
    width: 100%;
}

.img-footer img {
    background-image: var(--logo-text);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

/* ANIMATIONS */

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-o-keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes scale {
    0%, 100% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
}

@-webkit-keyframes scale {
    0%, 100% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
}

@-moz-keyframes scale {
    0%, 100% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
}

@-o-keyframes scale {
    0%, 100% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
}